@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=New+Amsterdam&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Host grotesk;
}
nav {
  position: sticky;
  top: 0;
  background-color: white;
  font-size: x-small;
  display: flex;
  gap: 30px;
  margin: 5px;
  padding: 10px;
}
#nav1 {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
#nav2 {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
#nav3 {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
#nav4 {
  display: flex;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 100px;
  gap: 20px;
  padding: 5px;
}
#exp {
  color: rgb(161, 156, 156);
}
#expire {
  display: flex;
  display: inline;
  color: black;
}
#exp:hover {
  color: black;
}
#searchbar {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  border: 1px solid rgb(195, 193, 193);
  border-radius: 100px;
  width: 60%;
  gap: 10%;
  padding: 10px;
  height: 40px;
}
.srch {
  font-size: larger;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  padding: 10px;
  margin: 15px;
  width: 25%;
  background-color: rgb(243, 244, 244);
  border-radius: 16px;
}
.cardimg {
  border-radius: 15px;
  height: 400px;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
}
.info h4 {
  margin-top: -20px;
  color: rgb(149, 145, 145);
  font-size: larger;
}
